@import "../../scss/variables.scss";

.wrapper {
    margin-top: 5rem;
    width: 100%;
    @include flex(start, start);
    flex-direction: column;
    strong {
        width: 100%;
        text-align: center;
    }
    span {
        width: 100%;
        text-align: center;
        color: $grey;
        margin-bottom: 2rem;
    }
    .followers {
        width: 100%;
        @include flex(space-evenly, center);
        gap: 3rem 0;
        flex-wrap: wrap;
    }
}

.noFollowers {
    margin: 3rem;
    @include flex(center, center);
    gap: 2rem;
    img {
        width: 300px;
    }
    p {
        font-size: 2rem;
        color: $terc;
    }
}