@import "../../scss/variables.scss";

.wrapper {
    width: 70%;
    height: max-content;
    margin-top: 5rem;
    .social {
        @include flex(center, center);
        gap: 6rem;

        div {
            color: $fourth;
            font-size: 1.25rem;
            @include flex(center, center);
            flex-direction: column;

            .number {
                font-size: 2rem;
            }
        }
    }
    .repos {
        margin-top: 3rem;
        @include flex(center, center);
        flex-direction: column;
        gap: 1rem;
        .reposTitle {
            @include flex(center, center);
            flex-direction: column;
            gap: .5rem;
            strong {
                color: $fourth;
            }
        }
    }
}