@import "../../scss/variables.scss";

.header {
    width: 100%;
    height: 8rem;
    @include flex(space-between, center);
    padding: 2rem 3rem;
    a {
        width: 10%;
    }
    .form {
        width: 35%;
        flex-direction: column;
        margin: 0 auto;
        @include flex(center, center);
        gap: .5rem;
        div {
            width: 100%;
            @include flex(center, center);
            input, button, span {
                height: 2.5rem;
                background-color: $fourth;
            }
            span {
                width: 10%;
                border-radius: 10px 0 0 10px;
                @include flex(center, center);
                img {
                    width: 50%;
                }
            }
            input {
                border: 0;
                width: 80%;
                color: $main;
                &:focus {
                    outline: 0;
                }
            }
            button {
                border-radius: 0 10px 10px 0;
                border: 0;
                width: 10%;
                padding-right: 10px;
                img {
                    width: 70%;
                }
            }
        }
        .userNotValid {
            width: 100%;
            text-align: center;
            height: 2rem;
            color: #ff4747;
        }

    }
}