@import "../../../scss/variables.scss";

.wrapper {
    background-color: $sec;
    width: 80%;
    border: 1px solid $terc;
    border-radius: 10px;
    box-shadow:  5px 5px 5px #404040;
    height: 100px;
    text-decoration: none;
    transition: .5s;
    header {
        width: 100%;
        @include flex(space-between, center);
        .title {
            margin: .5rem 2rem;
            color: $terc;
            font-weight: bold;
            font-size: 1.35rem;
        }
        .tip {
            color: $grey;
        }
        .visib {
            margin: .5rem 2rem;
            border: 1px solid $grey;
            border-radius: 50px;
            padding: 3.75px 7.5px;
            color: $grey;
        }
    }
    footer {
        @include flex(space-evenly, end);
        margin-top: 1rem;
        color: $fourth;
        .apiInfo {
            color: $terc;
        }
    }
    &:hover {
        transform: translate(-10px, -10px);
    }
}