@import "bootstrap/scss/bootstrap.scss";
@import "./variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #1f1f1f;
}

#root {
    @include flex(flex-start, flex-start);
    flex-direction: column;
    height: 100vh;
    background-color: #1f1f1f;
}

.white-color {
    color: $fourth;
}

@keyframes move{
    0% {
        transform: translate(0, 25px);
    }
    25% {
        transform: translate(0, 50px);
    }
    50% {
        transform: translate(0, 75px);
    }
    100% {
        transform: translate(0, 100px);
    }
}


.tip-div{
    margin-top: 5rem;
    @include flex(center, center);
    flex-direction: column;
    width: 100%;
    .tip-text {
        display: block;
        margin-top: 1rem;
        font-size: 1.1rem;
        color: $grey;
    }
    img {
        rotate: 180deg;
        animation: move 1.5s linear 0s infinite alternate;
    }
}


