@import "bootstrap/scss/bootstrap.scss";
@import "./variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#app {
    @include flex(flex-start, flex-start);
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: red;
}

.page-header {
    min-width: 100vw;
    height: 8rem;
    background-color: $main;
    color: $sec;
    @include flex(space-around, center);
    .page-header-input {
        width: 35%;
    }
}
