@import "../../scss/variables.scss";

.wrapper {
    color: $fourth;
    width: 30%;
    @include flex(center, center);
    flex-direction: column;
    img {
        margin: 1rem 0;
        border-radius: 70%;
        width: 70%;
    }
    .username {
        color: #ffffff5f;
    }
}